* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  background-color: #F3FAB6;

  font-family: 'Oswald', sans-serif;
  font-size: 24px;
  color: #005A31;
}

section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

label {
  margin-right: 10px;
}

button {
  display: inline-block;
  transition: all .2s;
  position: relative;
  margin: 5px;

  background-color: #A8CD1B;
  text-decoration: none;
}

.increase, .decrease {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.bar {
  height: 50px;
  width: 100px;
  border-radius: 5px;

  font-size: 18px;
}

.selected {
  background-color: #CBE32D;
}
