* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

button {
  text-decoration: none;
  display: inline-block;
  transition: all .2s;
  position: relative;
}

.increase, .decrease {
  border-radius: 50%;
  padding: 20px;
}

.selected {

}